/*body {
    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em; /15px x 2.2 = 33px espaçamento entre linhas
    color: #818181;
    margin: 0;
}
header {
    background-color: #f4511e;
}
section, footer {
    margin: 40px;
}*/
h1 {
    font-size: 63px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

/*nav li a {
    padding: 10px;
    color: #ffffff;
    text-decoration: none; /retira a linha abaixo da palavra

}
nav li {
    float: left; /posiciona elementos na pag, vao flutuar pro lado esquerdo 
}
nav ul {
    float: right;
    list-style: none; /pra ficar sem a bolinha de lista
}
nav {
    font-size: 12px;
    letter-spacing: 4px; /espaçamento entre as letras
    height: 50px;
    background-color: #a14949;
    padding-right: 40px;
}
*/
table {
    width: 100%;
}
table td {
    color: #303030;
    padding: 5px;
}
table tr:nth-child(even) { /*seleciona a linha par*/
    background-color: #e9e9e9;
}
table tr:nth-child(odd) { /*seleciona a linha impar*/
    background-color: #bdbdbd;
}
table thead th { /*cabeçalho da tabela*/
    background-color: #f4511e;
    color: #ffffff;
}


/*#pacotes .figuras figure {
    display: inline-block;
}
#pacotes .figuras, #pacotes .videos {
    text-align: center;
}*/
